
<table class="table table-striped">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailId</th>
            <th>Student Age</th>
            <th>Contact Number</th>

            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.emailId}}</td>
            <td>{{student.studentAge}}</td>
          
            <td>{{student.contactNumber}}</td>
    
            <td>
                <!-- <button (click)="updateStudent(student)" class="btn btn-info">Update</button>
                 -->
                 <button (click)="updateStudent(student.id)" class="btn btn-info">Update</button>
            </td>


        </tr>
    </tbody>
</table>
